<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    <h1>
        <center>
            Register
        </center>
    </h1>

    <hr>

    <form action="/userInformation/getRegisterInformation" method="get">
        USERNAME:<input type="text" name="username"/>
        <br>
        PHONE-NUMBER:<input type="tel" name="phoneNumber"/>
        <br>
        E-mail:<input type="email" name="email"/>
        <br>
        PASSWORD:<input type="password" name="passwordI"/>
        <br>
        CONFIRM PASSWORD:<input type="password" name="passwordII"/>
        <br>
        <input type="reset" value="RESET">
        <input type="submit" value="SUBMIT"/>
    </form>
</body>

<script>

</script>
</html>